.section {
  margin-block: 40px;
}

header .container {

  display: block;
  background-color: red;

}

header.section {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space between logo and nav items */
  padding: 1rem 2rem;
}