/* CUSTOM STYLING */

:root {
  /* COLORS  */
  --primary-yellow: #F4CE14;
  --primary-olive-gray: #495E57;
  --secondary-pink: #EE9972;
  --secondary-pink-light: #FBDABB;
  --white: #EDEFEE;
  --white: #333333;

  /* TYPOGRAPHY */

  /* font family */
  --font-marakzai: "Markazi Text", serif;
  --font-karla: "Karla", serif;

  /* BORDER RADIUS */
  --border-radies: 16px;






}

.display-title {
  font-family: var(--font-marakzai);
  font-weight: 500;
  font-size: 64;
}
.sub-title {
  font-family: var(--font-marakzai);
  font-weight: 500;
  font-size: 40;
}
.descriptive {
  font-family: var(--font-karla);
  font-weight: 500;
  font-size: 18;
}
.section-title {
  font-family: var(--font-karla);
  font-weight: 800;
  font-size: 20;
}
.specials-categories {
  font-family: var(--font-karla);
  font-weight: 800;
  font-size: 16;
}
.card-title {
  font-family: var(--font-karla);
  font-weight: 600;
  font-size: 18;
}
.paragraph {
  font-family: var(--font-karla);
  font-weight: 400;
  font-size: 16;
  line-height: 1.5;
  max-width: 65ch;
}

.highlight-text {
  font-family: var(--font-karla);
  font-weight: 500;
  font-size: 16;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



